@model FinalLabo.Models.Producto

@{
    ViewData["Title"] = "Delete";
}


<h3>¿Estas seguro que deseas eliminar este producto?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/productos/@Model.Imagen" id="imagen" class="img-thumbnail"
                 style="max-height: 75px;max-width: 75px;"
                 display=@(!string.IsNullOrEmpty(@Model.Imagen) ? "block" : "none") asp-append-version="true" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Favorito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Favorito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Descripcion)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-success shadow-sm" asp-action="Index">Regresar</a>
        </div>
    </form>
</div>
