@model FinalLabo.ViewsModels.ProductosViewModel
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="card">
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Productos</h3>
            <a asp-action="Create" class="d-none d-sm-inline-block btn btn-primary">Nuevo </a>
        </div>
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col col-md-2">
                    <select type="text" name="marcaIdParam" asp-items="@Model.Marcas" class="form-control" placeholder="Marca">
                    </select>
                </div>
                <div class="col col-md-2">
                    <select type="text" name="categoriaIdParam" asp-items="@Model.Categorias" class="form-control" placeholder="Categoria">
                    </select>
                </div>
                <div class="col col-md-2">
                    <input type="text" class="form-control" placeholder="Nombre" type="text" asp-for="@Model.Nombre" name="busquedaNombre">
                </div>
                <div class="col col-md-2">
                    <input type="submit" class="btn btn-success" value="Filtrar" />
                </div>
            </div>

        </form>
    </div>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Favorito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(@item.Imagen)) { 
                <img src="~/images/productos/@item.Imagen" class="img-thumbnail" 
                    style="max-height:75px; max-width:75px;" asp-append-version="true" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Descripcion)
            </td>
            <td>
                <a asp-action="Edit"  class="btn btn-primary shadow-sm" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details"  class="btn btn-success shadow-sm" asp-route-id="@item.Id">Detalles</a> 
                <a asp-action="Delete" class="btn btn-danger shadow-sm" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
